<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>DEMO WEB</title>

    <!-- Bootstrap core CSS -->
    <link href="/user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/user/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/user/assets/css/templatemo-space-dynamic.css">
    <link rel="stylesheet" href="/user/assets/css/animated.css">
    <link rel="stylesheet" href="/user/assets/css/owl.css">
<!--
    
TemplateMo 562 DEMO WEB

https://templatemo.com/tm-562-space-dynamic

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <h4>DEMO<span>LOGO</span></h4>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#about">About Us</a></li>
              <li class="scroll-to-section"><a href="#services">Courses</a></li>
              <li class="scroll-to-section"><a href="#portfolio">Student Dashboard</a></li>
              <li class="scroll-to-section"><div class="main-red-button"><a href="#contact">Contact Us</a></div></li> 
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <h6>Welcome to DEMO WEB</h6>
                <h2>We Teach <em>Digital Ideas</em> &amp; <span>SEO</span> Marketing</h2>
                <p>DEMO WEB is a professional looking HTML template using a Bootstrap 5 (beta 2). This CSS template is free for you provided by <a rel="nofollow" href="https://templatemo.com/page/1" target="_parent">TemplateMo</a>.</p>
                <form id="search" action="#" method="GET">
                  <fieldset>
                    <input type="address" name="address" class="email" placeholder="Your website URL..." autocomplete="on" required>
                  </fieldset>
                  <fieldset>
                    <button type="submit" class="main-button">Analyze Site</button>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="/user/assets/images/banner-right-image.png" alt="team meeting">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="about-us section" style="padding: 100px 0 200px 0;">
    <div class="container">
     
      <div class="row">
        <h1 class=" text-white ">
          <b>
            <span style="color: #ffffff;">Our Most Popular course <hr></span> 
          </b>
        </h1>
        <div class="col-lg-4">
          <div class="left-image wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <img src="/user/assets/images/about.png" alt="person graphic">
          </div>
        </div>
        <div class="col-lg-8 align-self-center">
          <div class="services">
            <div class="row">
              <div class="col-md-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  <div class="icon">
                    <img src="/user/assets/images/service-icon-01.png" alt="reporting">
                  </div>
                  <div class="right-text">
                    <h4>Data Analysis</h4>
                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                  <div class="icon">
                    <img src="/user/assets/images/service-icon-02.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Data Reporting</h4>
                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                  <div class="icon">
                    <img src="/user/assets/images/service-icon-03.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Web Analytics</h4>
                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.1s">
                  <div class="icon">
                    <img src="/user/assets/images/service-icon-04.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>SEO Suggestions</h4>
                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.3s">
                  <div class="icon">
                    <img src="/user/assets/images/service-icon-04.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>SEO Analysis</h4>
                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.5s">
                  <div class="icon">
                    <img src="/user/assets/images/service-icon-04.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>SEO Report</h4>
                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.7s">
                  <div class="icon">
                    <img src="/user/assets/images/service-icon-04.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>SEO Testing</h4>
                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                  </div>
                </div>              
              </div>
              <div class="col-md-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="1.9s">
                  <div class="icon">
                    <img src="/user/assets/images/service-icon-04.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>SEO Optimization</h4>
                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="2.1s">
                  <div class="icon">
                    <img src="/user/assets/images/service-icon-04.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>SEO Audit</h4>
                    <p>Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="users-success" class="our-services section mt-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="left-image">
            <img src="/user/assets/images/services-left-image.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="section-heading">
            <h2>Our Users' <em>Success</em> is Our <span>Pride</span></h2>
            <p>We’ve helped thousands of users achieve their goals. Join our community and see the results for yourself.</p>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6 text-center mb-4">
              <h4>Total Users</h4>
              <h2 class="count" data-count="12500">0</h2>
            </div>
            <div class="col-lg-6 col-sm-6 text-center mb-4">
              <h4>Projects Completed</h4>
              <h2 class="count" data-count="3500">0</h2>
            </div>
            <div class="col-lg-6 col-sm-6 text-center mb-4">
              <h4>Happy Clients</h4>
              <h2 class="count" data-count="4800">0</h2>
            </div>
            <div class="col-lg-6 col-sm-6 text-center mb-4">
              <h4>Success Rate</h4>
              <h2 class="count" data-count="98">0</h2>%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><script>
    document.addEventListener('DOMContentLoaded', () => {
      const counters = document.querySelectorAll('.count');
      let started = false;
  
      function animateCounter(counter) {
        const target = +counter.getAttribute('data-count');
        const speed = 200;
        const increment = target / speed;
  
        const update = () => {
          const current = +counter.innerText;
          if (current < target) {
            counter.innerText = Math.ceil(current + increment);
            setTimeout(update, 20);
          } else {
            counter.innerText = target;
          }
        };
  
        update();
      }
  
      function handleScroll() {
        const section = document.getElementById('users-success');
        const sectionTop = section.getBoundingClientRect().top;
        const triggerPoint = window.innerHeight - 100;
  
        if (sectionTop < triggerPoint && !started) {
          counters.forEach(counter => animateCounter(counter));
          started = true;
        }
      }
  
      window.addEventListener('scroll', handleScroll);
    });
  </script>
  
  
  <div id="about" class="about-us section mt-5" style="padding: 100px 0; background-color: #ffffff;">
    <div class="container">
      <div class="row align-items-center">
        
        <!-- Left Image -->
        <div class="col-lg-4 mb-4">
          <div class=" text-center">
            <img src="/user/assets/images/about-left-image.png" alt="person graphic" class="img-fluid rounded">
          </div>
        </div>
  
        <!-- Right Steps Grid -->
        <div class="col-lg-8">
          <div class="row g-4">
            <h1 class="text-center text-white">How It Works</h1>
            <!-- Step 1 -->
            <div class="col-md-6 ">
              <div class="d-flex align-items-center p-3  text-white rounded-3 shadow-sm h-100" style="background: linear-gradient(105deg, rgba(255, 77, 30, 1) 0%, rgba(255, 44, 109, 1) 100%);" >
                <div class="flex-shrink-0"  style="width: 70px; height: 70px; background-color:white;  border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                  <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Sign Up" style="width: 40px; height: 40px;">
                </div>
                <div class="ms-3">
                  <h5 class="mb-1 fw-bold text-white">Sign Up</h5>
                  <p class="mb-0 text-white">Create your free account and get started instantly.</p>
                </div>
              </div>
            </div>
  
            <!-- Step 2 -->
            <div class="col-md-6">
              <div class="d-flex align-items-center p-3  text-white rounded-3 shadow-sm h-100"  style="background: linear-gradient(105deg, rgba(255, 77, 30, 1) 0%, rgba(255, 44, 109, 1) 100%);">
                <div class="flex-shrink-0" style="width: 70px; height: 70px; background-color:white; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                  <img src="https://cdn-icons-png.flaticon.com/512/3595/3595455.png" alt="Choose Course" style="width: 40px; height: 40px;">
                </div>
                <div class="ms-3">
                  <h5 class="mb-1 fw-bold text-white">Choose Course</h5>
                  <p class="mb-0 text-white">Browse and select from multiple course options.</p>
                </div>
              </div>
            </div>
  
            <!-- Step 3 -->
            <div class="col-md-6">
              <div class="d-flex align-items-center p-3  text-white rounded-3 shadow-sm h-100"  style="background: linear-gradient(105deg, rgba(255, 77, 30, 1) 0%, rgba(255, 44, 109, 1) 100%);">
                <div class="flex-shrink-0" style="width: 70px; height: 70px; background-color: #ffe6ec; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                  <img src="https://cdn-icons-png.flaticon.com/512/4205/4205783.png" alt="Learn Online" style="width: 40px; height: 40px;">
                </div>
                <div class="ms-3 ">
                  <h5 class="mb-1 fw-bold text-white">Learn Online</h5>
                  <p class="mb-0 text-white">Attend classes or learn anytime, anywhere.</p>
                </div>
              </div>
            </div>
  
            <!-- Step 4 -->
            <div class="col-md-6">
              <div class="d-flex align-items-center p-3  text-white rounded-3 shadow-sm h-100"  style="background: linear-gradient(105deg, rgba(255, 77, 30, 1) 0%, rgba(255, 44, 109, 1) 100%);">
                <div class="flex-shrink-0" style="width: 70px; height: 70px; background-color: #ffe6ec; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                  <img src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png" alt="Get Certified" style="width: 40px; height: 40px;">
                </div>
                <div class="ms-3">
                  <h5 class="mb-1 fw-bold text-white">Get Certified</h5>
                  <p class="mb-0 text-white">Receive a certificate upon successful completion.</p>
                </div>
              </div>
            </div>
  
          </div>
        </div>
  
      </div>
    </div>
  </div>
  

  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2>See What We <em>Offers </em> &amp; What We <span>Provide</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
              <div class="hidden-content">
                <h4>SEO Analysis</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div>
              <div class="showed-content">
                <img src="/user/assets/images/portfolio-image.png" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
              <div class="hidden-content">
                <h4>Website Reporting</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div>
              <div class="showed-content">
                <img src="/user/assets/images/portfolio-image.png" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="hidden-content">
                <h4>Performance Tests</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div>
              <div class="showed-content">
                <img src="/user/assets/images/portfolio-image.png" alt="">
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-sm-6">
          <a href="#">
            <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
              <div class="hidden-content">
                <h4>Data Analysis</h4>
                <p>Lorem ipsum dolor sit ameti ctetur aoi adipiscing eto.</p>
              </div>
              <div class="showed-content">
                <img src="/user/assets/images/portfolio-image.png" alt="">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="blog" class="our-blog section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Check Out What Is <em>Trending</em> In Our Latest <span>News</span></h2>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="top-dec">
            <img src="/user/assets/images/blog-dec.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="left-image">
            <a href="#"><img src="/user/assets/images/big-blog-thumb.jpg" alt="Workspace Desktop"></a>
            <div class="info">
              <div class="inner-content">
                <ul>
                  <li><i class="fa fa-calendar"></i> 24 Mar 2021</li>
                  <li><i class="fa fa-users"></i> TemplateMo</li>
                  <li><i class="fa fa-folder"></i> Branding</li>
                </ul>
                <a href="#"><h4>SEO Agency &amp; Digital Marketing</h4></a>
                <p>Lorem ipsum dolor sit amet, consectetur and sed doer ket eismod tempor incididunt ut labore et dolore magna...</p>
                <div class="main-blue-button">
                  <a href="#">Discover More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="right-list">
            <ul>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 18 Mar 2021</span>
                  <a href="#"><h4>New Websites &amp; Backlinks</h4></a>
                  <p>Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...</p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="/user/assets/images/blog-thumb-01.jpg" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 14 Mar 2021</span>
                  <a href="#"><h4>SEO Analysis &amp; Content Ideas</h4></a>
                  <p>Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...</p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="/user/assets/images/blog-thumb-01.jpg" alt=""></a>
                </div>
              </li>
              <li>
                <div class="left-content align-self-center">
                  <span><i class="fa fa-calendar"></i> 06 Mar 2021</span>
                  <a href="#"><h4>SEO Tips &amp; Digital Marketing</h4></a>
                  <p>Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...</p>
                </div>
                <div class="right-image">
                  <a href="#"><img src="/user/assets/images/blog-thumb-01.jpg" alt=""></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <div class="section-heading">
            <h2>Feel Free To Send Us a Message About Your Website Needs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doer ket eismod tempor incididunt ut labore et dolores</p>
            <div class="phone-info">
              <h4>For any enquiry, Call Us: <span><i class="fa fa-phone"></i> <a href="#">010-020-0340</a></span></h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-lg-6">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Name" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <input type="surname" name="surname" id="surname" placeholder="Surname" autocomplete="on" required>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>  
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-button ">Send Message</button>
                </fieldset>
              </div>
            </div>
            <div class="contact-dec">
              <img src="/user/assets/images/contact-decoration.png" alt="">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


 
  <div class=" section  text-white pt-5 pb-4">
    <div class="container">
      <!-- Footer Heading -->
      <div class="row mb-4">
        <div class="col-lg-12 wow fadeIn text-center" data-wow-duration="1s" data-wow-delay="0.25s">
          <h1 class="burst-heading">
            <span class="letter" style="color: red;">D</span>
            <span class="letter" style="color: blue;">E</span>
            <span class="letter" style="color: blue;">M</span>
            <span class="letter" style="color: blue;">O</span>
            <span class="letter" style="color: blue;">W</span>
            <span class="letter" style="color: blue;">E</span>
            <span class="letter" style="color: blue;">B</span>
            <span class="letter" style="color: #000000;">&nbsp;</span>
            <span class="letter" style="color: #ff0000;">F</span>
            <span class="letter" style="color: #0c0c0c;">O</span>
            <span class="letter" style="color: #0c0c0c;">O</span>
            <span class="letter" style="color: #0c0c0c;">T</span>
            <span class="letter" style="color: #0c0c0c;">E</span>
            <span class="letter" style="color: #0c0c0c;">R</span>
            <span class="letter" style="color: #0c0c0c;">&nbsp;</span>
            <span class="letter" style="color: #c9ec00;">s</span>
            <span class="letter" style="color: #0c0c0c;">e</span>
            <span class="letter" style="color: #0c0c0c;">c</span>
            <span class="letter" style="color: #0c0c0c;">t</span>
            <span class="letter" style="color: #0c0c0c;">i</span>
            <span class="letter" style="color: #0c0c0c;">o</span>
            <span class="letter" style="color: #0c0c0c;">n</span>
          </h1>
          
        
           <style>
  .burst-heading {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px; /* adds space between letters */
  }

  .letter {
    display: inline-block;
    animation: burst 1.5s ease-in-out infinite;
  }

  .letter:nth-child(1) { animation-delay: 0s; }
  .letter:nth-child(2) { animation-delay: 0.1s; }
  .letter:nth-child(3) { animation-delay: 0.2s; }
  .letter:nth-child(4) { animation-delay: 0.3s; }
  .letter:nth-child(5) { animation-delay: 0.4s; }
  .letter:nth-child(6) { animation-delay: 0.5s; }
  .letter:nth-child(7) { animation-delay: 0.6s; }
  .letter:nth-child(8) { animation-delay: 0.7s; }
  .letter:nth-child(9) { animation-delay: 0.8s; }
  .letter:nth-child(10) { animation-delay: 0.9s; }
  .letter:nth-child(11) { animation-delay: 1s; }
  .letter:nth-child(12) { animation-delay: 1.1s; }
  .letter:nth-child(13) { animation-delay: 1.2s; }
  .letter:nth-child(14) { animation-delay: 1.3s; }
  .letter:nth-child(15) { animation-delay: 1.4s; }
  .letter:nth-child(16) { animation-delay: 1.5s; }
  .letter:nth-child(17) { animation-delay: 1.6s; }
  .letter:nth-child(18) { animation-delay: 1.7s; }
  .letter:nth-child(19) { animation-delay: 1.8s; }
  .letter:nth-child(20) { animation-delay: 1.9s; }
  .letter:nth-child(21) { animation-delay: 2s; }
  .letter:nth-child(22) { animation-delay: 2.1s; }

  @keyframes burst {
    0% {
      transform: scale(0.3);
      opacity: 0;
    }
    40% {
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.8;
    }
  }
</style>

         
                    
        </div>
      </div>
  
      <!-- Footer Bottom Text -->
      
    </div>
  </div>
  

  <footer class="footer-area  pt-5 pb-4" id="contact" style="background-color: rgb(255, 200, 200);">
    <div class="container-fluid d-flex justify-content-center align-items-center flex-column">
      <div class="row "> 
        <!-- Location -->
        <div class="col-md-3 mb-4 text-black">
          <h5 class="text-uppercase mb-3 text-black">Our Location</h5>
          <p class="text-black">123 Web Street,<br class="text-black">Gurgaon, Haryana<br class="text-black">India - 122001</p>
        </div>
  
        <!-- Contact Info -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase mb-3 text-black">Contact Us</h5>
          <p class="text-black"><i class="fa fa-phone me-2 text-black"></i> +91 98765 43210</p>
          <p class="text-black"><i class="fa fa-envelope me-2 text-black"></i> support@example.com</p>
          <p class="text-black"><i class="fa fa-globe me-2 text-black"></i> www.example.com</p>
        </div>
  
        <!-- Subscribe -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase mb-3 text-black">Subscribe</h5>
          <form action="#">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Your email" required>
              <button class="btn btn-primary " type="submit ">Subscribe</button>
            </div>
          </form>
        </div>
  
        <!-- Contact Form -->
        <div class="col-md-3 mb-4">
          <h5 class="text-uppercase mb-3 text-black">Send Message</h5>
          <form action="#" method="post">
            <input type="text" class="form-control mb-2" placeholder="Name" required>
            <input type="email" class="form-control mb-2" placeholder="Email" required>
            <textarea class="form-control mb-2" rows="2" placeholder="Message" required></textarea>
            <button class="btn btn-outline-light w-100" type="submit">Send</button>
          </form>
        </div>
      </div>
  
   
  
      <div class="row container-fluid ">
        <hr class="border-light">
        <div class="col text-center">
          <p class="mb-0 text-black">© 2025 Digital start. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  


  <!-- Scripts -->
  <script src="/user/vendor/jquery/jquery.min.js"></script>
  <script src="/user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/user/assets/js/owl-carousel.js"></script>
  <script src="/user/assets/js/animation.js"></script>
  <script src="/user/assets/js/imagesloaded.js"></script>
  <script src="/user/assets/js/templatemo-custom.js"></script>

</body>
</html>